@import "../bower_components/bootstrap/less/bootstrap.less";

/* COM:Customizaciones de bootstrap */
@font-family-base: "Roboto";
@navbar-default-brand-color: #FF9800;
@navbar-default-brand-hover-color: @navbar-default-brand-color;
@navbar-default-bg: lighten(#512da8, 10%);
@navbar-default-link-active-color: #d4c2f6;
@navbar-default-link-active-bg: lighten(@navbar-default-bg, 10%);
@navbar-height: 100px;

.navbar-default {
	font-family: "Oswald";
	margin-bottom: 0px;
	font-size: ceil((@font-size-base * 1.2));
}
.navbar-brand {
	font-size: 40px;
}
.navbar-default .navbar-nav > .active > a {
	margin-left: 30px;
}

/* FIN:Customizaciones de bootstrap */

/* COM: Customizacion Material Icons */

.material-icons.md-36 {
	font-size: 36px;
}

.material-icons.circle-icon {
	position: absolute;
	background-color: @navbar-default-brand-color;
	border-radius: 100%;
	top: 30px;
	right: 30px;
	box-shadow: rgba(0, 0, 0, 0.227451) 0px 3px 10px 0px, rgba(0, 0, 0, 0.156863) 0px 3px 10px 0px;
	color: white;
	cursor: pointer;
	height: 56px;
	width: 56px;
	padding: 10px;
	text-align: center;
}

/* FIN: Customizacion Material Icons */

//Mis constantes
@container-separation: 0px;
@background-color: #282828;
@article-background-color: #F7F7F7;
@footer-height: 120px;
@title-color: #8169B9;

html {
}

body {
	background-color: @background-color;
}

h1, h2, h3 {
	font-family: "Oswald";
}

h1 {
	margin-top: 5px;
	font-size: 45px;
}

h1, h1 a, h1 a:hover {
	color: @title-color;
}

h2 {
	margin-bottom: 20px;
}

.central {
	margin-top: @container-separation;
	padding-bottom: 30px;
	background-color: #e0e0e0;
}

.article-relative {
	//Ayuda a posicionar el icono de edit
	position: relative;;
}

article {
	margin: 20px 5px 10px 5px;
  padding: 20px 15px 15px 15px;
  background-color: @article-background-color;
  border-radius: 5px;
  border-width: 5px;
  border-color: #fff;
  border-style: solid;
}

article time {
	font-family: "Oswald";
	font-size: 12px;
}

article table {
	.table;
	.table-striped;
	.table-bordered;
}

article table th {
	font-size: medium;
	background-color: lighten(@navbar-default-link-active-color, 5%);
}

.sidebar {
	margin-top: 20px;
	padding-top: 5px;
	padding-bottom: 50px;
	padding-left: 5px;
	background-color: @article-background-color;
	border-radius: 5px;
	border-width: 5px;
	border-color: #fff;
	border-style: solid;
}

.sidebar h3 {
	margin: 0 auto 7px auto;
	text-align: center;
}

.sidebar ul {
	padding-left: 0px;
	margin-left: 5px;
	margin-right: 10px;
}

.sidebar li {
	display: block;
	border-bottom: 1px dotted #cdcdcd;
	text-align: center;
	padding-top: 7px;
	padding-bottom: 7px;
	color: @title-color;
}

.sidebar li a, .sidebar li a:hover {
	color: @title-color;
}

.footer {
	padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
	color: @navbar-default-brand-color;
	margin-top: @container-separation;
	background-color: #373737;
	height: @footer-height;
}
