@import "../bower_components/bootstrap/less/bootstrap.less";

/* COM:Customizaciones de bootstrap */
@font-family-base: "Roboto";
@navbar-default-brand-color: #FF9800;
@navbar-default-brand-hover-color: @navbar-default-brand-color;
@navbar-default-bg: lighten(#512da8, 10%);
@navbar-default-link-active-color: #d4c2f6;
@navbar-default-link-active-bg: lighten(@navbar-default-bg, 10%);

.navbar-default {
	font-family: "Oswald";
	margin-bottom: 0px;
}
/* FIN:Customizaciones de bootstrap */

@container-separation: 10px;
@background-color: #0097A7;

html {
}

body {
	background-color: @background-color;
}

h2 {
	margin-top: 2px;
	margin-bottom: 2px;
}

.central {
	margin-top: @container-separation;
	border-radius: 4px;
	background-color: #fff;
}

.article {
	margin: 10px 5px 10px 5px;
	padding: 5px 5px 5px 5px;
	background-color: #f0f0f0;
}

.sidebar {
	margin-top: 10px;
	border-radius: 4px;
	background-color: @navbar-default-brand-color;
	padding-top: 5px;
	padding-bottom: 50px;
	padding-left: 5px;
}

.sidebar-container {
	padding-left: 0px;
	padding-right: 0px;
}

.footer {
	color: @navbar-default-brand-color;
	margin-top: @container-separation;
	background-color:  @navbar-default-bg;
	border-radius: 4px;
	height: 60px;
}
